<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="https://socius.cl/" target="_blank"
        class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img src="../../../assets/qt=q_95.png" alt="">
      </a>

    </div>

    <div class="col">
 
    </div>

    <div class="col">
      <h5>Paginas</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/inicio" class="nav-link p-0 text-muted">Inicio</a></li>
        <li class="nav-item mb-2"><a href="/recursos" class="nav-link p-0 text-muted">Recursos</a></li>
      </ul>
    </div>


    <div class="col">
      <h5>Contenidos</h5>
      <ul class="nav flex-column">
        <li><a href="/resources/#articulo1" class="nav-link p-0 text-muted">Front-End Basico</a></li>
        <li><a href="/resources/#articulo2" class="nav-link p-0 text-muted">Instalación de Angular</a></li>
        <li><a href="/resources/#articulo3" class="nav-link p-0 text-muted">Versionamiento - Git</a></li>
        <li><a href="/resources/#articulo4" class="nav-link p-0 text-muted">JavaScript structures</a></li>
        <li><a href="/resources/#articulo5" class="nav-link p-0 text-muted">Curso de Angular</a></li>
        <li><a href="/resources/#articulo6" class="nav-link p-0 text-muted">OAuth 2.0</a></li>
        <li><a href="/resources/#articulo7" class="nav-link p-0 text-muted">Bootstrap</a></li>
        <li><a href="/resources/#articulo8" class="nav-link p-0 text-muted">Jira</a></li>
        <li><a href="/resources/#articulo9" class="nav-link p-0 text-muted">Angular Schematics</a></li>
        <li><a href="/resources/#articulo10" class="nav-link p-0 text-muted">Organizaciones Agiles</a></li>
      </ul>
    </div>
  </footer>
</div>